/* NAVIGATION */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}


/* HOME SECTION */

#home{
   height: 370px;
   padding: 3px 28px;

}
#home::before{
    font-size: 13px;
 
 }
 #home p{
    height: 280px;
 
 }

/* SERVICES SECTION*/

#services{


}
#services .box{
    flex-direction: column;
    margin: 2px 0px;
    margin-bottom: 20px;
    padding: 14px;

}

CLIENT SECTION
#clients{
    flex-wrap: wrap;
}

#clients img{
   width: 66px; 
  
}

/* CONTACT US SECTION */


/* FOOTER SECTION */


/* UTILITY CLASS */

.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}